@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@300;400;500;600;700;800&display=swap");


:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #ffffff;
    --color-info-dark: #7a8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #efefefa4;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.btn-primary {
    width: 8rem;
    height: 3.2rem;
    border-radius: 8px;
    border: 1px solid #3483fa;
    background-color: #3483fa;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

.btn-primary :active {
    transform: scale(0.95);
}

.btn-primary :focus {
    outline: none;
}

.btn-primary .ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.btn-secundary {
    width: 8rem;
    height: 3.2rem;
    border-radius: 8px;
    border: 1px solid #ffff;
    background-color: #ffff;
    color: #3483fa;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

.btn-secundary:hover {
    background-color: rgba(65,137,230,.2);
    border-color: transparent;
    color: #3483fa;
}